body {
    margin:0px;
    background-image:none;
    position:relative;
    left:0px;
    width:1024px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
  }
  .form_sketch {
    border-color:transparent;
    background-color:transparent;
  }
  #base {
    position:absolute;
    z-index:0;
  }
  #u0 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:216px;
    width:1024px;
    height:524px;
  }
  #u0_state0 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:524px;
    -ms-overflow-x:hidden;
    overflow-x:hidden;
    -ms-overflow-y:hidden;
    overflow-y:hidden;
    background-image:none;
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u0_state0_content {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1px;
    height:1px;
  }
  #u1_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:3px;
    height:39px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Merriweather Bold', 'Merriweather Regular', 'Merriweather', sans-serif;
    font-weight:700;
    font-style:normal;
  }
  #u1 {
    border-width:0px;
    position:absolute;
    left:536px;
    top:45px;
    width:3px;
    height:39px;
    display:flex;
    font-family:'Merriweather Bold', 'Merriweather Regular', 'Merriweather', sans-serif;
    font-weight:700;
    font-style:normal;
  }
  #u1 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u1_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u2_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:346px;
    height:141px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(245, 229, 229, 1);
    border-radius:10px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u2 {
    border-width:0px;
    position:absolute;
    left:55px;
    top:58px;
    width:346px;
    height:141px;
    display:flex;
  }
  #u2 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u2_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u3_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:260px;
    height:25px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:20px;
    text-align:center;
  }
  #u3 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:14px;
    width:260px;
    height:25px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:20px;
    text-align:center;
  }
  #u3 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u3_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u4_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:82px;
    height:29px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Bold', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#17BF95;
  }
  #u4 {
    border-width:0px;
    position:absolute;
    left:178px;
    top:78px;
    width:82px;
    height:29px;
    display:flex;
    font-family:'Arial Bold', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#17BF95;
  }
  #u4 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u4_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u5_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:202px;
    height:17px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Raleway Bold', 'Raleway Regular', 'Raleway', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#7B7676;
  }
  #u5 {
    border-width:0px;
    position:absolute;
    left:178px;
    top:118px;
    width:202px;
    height:17px;
    display:flex;
    font-family:'Raleway Bold', 'Raleway Regular', 'Raleway', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#7B7676;
  }
  #u5 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u5_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u6_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:346px;
    height:130px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(245, 229, 229, 1);
    border-radius:10px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u6 {
    border-width:0px;
    position:absolute;
    left:55px;
    top:244px;
    width:346px;
    height:130px;
    display:flex;
  }
  #u6 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u6_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u7_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:125px;
    height:29px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Bold', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#17BF95;
  }
  #u7 {
    border-width:0px;
    position:absolute;
    left:178px;
    top:261px;
    width:125px;
    height:29px;
    display:flex;
    font-family:'Arial Bold', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#17BF95;
  }
  #u7 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u7_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u8_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:215px;
    height:28px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Raleway Bold', 'Raleway Regular', 'Raleway', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#7B7676;
  }
  #u8 {
    border-width:0px;
    position:absolute;
    left:178px;
    top:301px;
    width:215px;
    height:28px;
    display:flex;
    font-family:'Raleway Bold', 'Raleway Regular', 'Raleway', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#7B7676;
  }
  #u8 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u8_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u9_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:731px;
    height:472px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(245, 229, 229, 1);
    border-radius:10px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u9 {
    border-width:0px;
    position:absolute;
    left:416px;
    top:54px;
    width:731px;
    height:472px;
    display:flex;
  }
  #u9 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u9_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u10_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:347px;
    height:25px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#125A05;
  }
  #u10 {
    border-width:0px;
    position:absolute;
    left:438px;
    top:82px;
    width:347px;
    height:25px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#125A05;
  }
  #u10 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u10_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u11_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:524px;
    height:113px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(229, 224, 224, 1);
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u11 {
    border-width:0px;
    position:absolute;
    left:438px;
    top:116px;
    width:524px;
    height:113px;
    display:flex;
  }
  #u11 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u11_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u12_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:746px;
    height:44px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Raleway Bold', 'Raleway Regular', 'Raleway', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#7B7676;
  }
  #u12 {
    border-width:0px;
    position:absolute;
    left:456px;
    top:123px;
    width:746px;
    height:44px;
    display:flex;
    font-family:'Raleway Bold', 'Raleway Regular', 'Raleway', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#7B7676;
  }
  #u12 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u12_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u13_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:524px;
    height:119px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(229, 224, 224, 1);
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u13 {
    border-width:0px;
    position:absolute;
    left:438px;
    top:379px;
    width:524px;
    height:119px;
    display:flex;
  }
  #u13 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u13_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u14_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:524px;
    height:125px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(229, 224, 224, 1);
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u14 {
    border-width:0px;
    position:absolute;
    left:438px;
    top:238px;
    width:524px;
    height:125px;
    display:flex;
  }
  #u14 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u14_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u15_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:687px;
    height:39px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Raleway Bold', 'Raleway Regular', 'Raleway', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#726D6D;
  }
  #u15 {
    border-width:0px;
    position:absolute;
    left:460px;
    top:248px;
    width:687px;
    height:39px;
    display:flex;
    font-family:'Raleway Bold', 'Raleway Regular', 'Raleway', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#726D6D;
  }
  #u15 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u15_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u16_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:687px;
    height:39px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Raleway Bold', 'Raleway Regular', 'Raleway', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#726D6D;
  }
  #u16 {
    border-width:0px;
    position:absolute;
    left:456px;
    top:385px;
    width:687px;
    height:39px;
    display:flex;
    font-family:'Raleway Bold', 'Raleway Regular', 'Raleway', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#726D6D;
  }
  #u16 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u16_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u17_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:20px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#125A05;
  }
  #u17 {
    border-width:0px;
    position:absolute;
    left:460px;
    top:167px;
    width:290px;
    height:20px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#125A05;
  }
  #u17 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u17_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u18_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:3px;
    height:16px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u18 {
    border-width:0px;
    position:absolute;
    left:637px;
    top:197px;
    width:3px;
    height:16px;
    display:flex;
  }
  #u18 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u18_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u19_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:203px;
    height:20px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#125A05;
  }
  #u19 {
    border-width:0px;
    position:absolute;
    left:460px;
    top:197px;
    width:203px;
    height:20px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#125A05;
  }
  #u19 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u19_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u20_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:20px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#125A05;
  }
  #u20 {
    border-width:0px;
    position:absolute;
    left:460px;
    top:427px;
    width:290px;
    height:20px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#125A05;
  }
  #u20 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u20_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u21_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:20px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#125A05;
  }
  #u21 {
    border-width:0px;
    position:absolute;
    left:460px;
    top:299px;
    width:290px;
    height:20px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#125A05;
  }
  #u21 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u21_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u22_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:242px;
    height:20px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#125A05;
  }
  #u22 {
    border-width:0px;
    position:absolute;
    left:456px;
    top:461px;
    width:242px;
    height:20px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#125A05;
  }
  #u22 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u22_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u23_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:203px;
    height:20px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#125A05;
  }
  #u23 {
    border-width:0px;
    position:absolute;
    left:460px;
    top:331px;
    width:203px;
    height:20px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    color:#125A05;
  }
  #u23 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u23_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u24_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:19px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Bold', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:16px;
  }
  #u24 {
    border-width:0px;
    position:absolute;
    left:892px;
    top:174px;
    width:46px;
    height:19px;
    display:flex;
    font-family:'Arial Bold', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:16px;
  }
  #u24 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u24_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u25_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:15px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Bold', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:16px;
  }
  #u25 {
    border-width:0px;
    position:absolute;
    left:892px;
    top:197px;
    width:46px;
    height:15px;
    display:flex;
    font-family:'Arial Bold', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:16px;
  }
  #u25 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u25_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u26_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:55px;
    height:15px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Bold', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:16px;
  }
  #u26 {
    border-width:0px;
    position:absolute;
    left:891px;
    top:467px;
    width:55px;
    height:15px;
    display:flex;
    font-family:'Arial Bold', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:16px;
  }
  #u26 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u26_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u27_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:19px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Bold', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:16px;
  }
  #u27 {
    border-width:0px;
    position:absolute;
    left:891px;
    top:422px;
    width:46px;
    height:19px;
    display:flex;
    font-family:'Arial Bold', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:16px;
  }
  #u27 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u27_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u28_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:15px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Bold', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:16px;
  }
  #u28 {
    border-width:0px;
    position:absolute;
    left:892px;
    top:332px;
    width:46px;
    height:15px;
    display:flex;
    font-family:'Arial Bold', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:16px;
  }
  #u28 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u28_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u29_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:15px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Bold', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:16px;
  }
  #u29 {
    border-width:0px;
    position:absolute;
    left:892px;
    top:298px;
    width:46px;
    height:15px;
    display:flex;
    font-family:'Arial Bold', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:16px;
  }
  #u29 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u29_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u30_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:346px;
    height:130px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(245, 229, 229, 1);
    border-radius:10px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u30 {
    border-width:0px;
    position:absolute;
    left:55px;
    top:396px;
    width:346px;
    height:130px;
    display:flex;
  }
  #u30 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u30_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u31_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:125px;
    height:29px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Bold', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#17BF95;
  }
  #u31 {
    border-width:0px;
    position:absolute;
    left:178px;
    top:413px;
    width:125px;
    height:29px;
    display:flex;
    font-family:'Arial Bold', 'Arial', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#17BF95;
  }
  #u31 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u31_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u32_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:215px;
    height:28px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Raleway Bold', 'Raleway Regular', 'Raleway', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#7B7676;
  }
  #u32 {
    border-width:0px;
    position:absolute;
    left:178px;
    top:453px;
    width:215px;
    height:28px;
    display:flex;
    font-family:'Raleway Bold', 'Raleway Regular', 'Raleway', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#7B7676;
  }
  #u32 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u32_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u33 {
    position:absolute;
    left:26px;
    top:60px;
  }
  #u33_state0 {
    position:relative;
    left:0px;
    top:0px;
    width:972px;
    height:55px;
    background-image:none;
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u33_state0_content {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1px;
    height:1px;
  }
  #u34_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:972px;
    height:55px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(244, 238, 238, 1);
    border-radius:6px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u34 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:972px;
    height:55px;
    display:flex;
  }
  #u34 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u34_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u35_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:104px;
    height:22px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
    font-weight:700;
    font-style:normal;
  }
  #u35 {
    border-width:0px;
    position:absolute;
    left:27px;
    top:17px;
    width:104px;
    height:22px;
    display:flex;
    font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
    font-weight:700;
    font-style:normal;
  }
  #u35 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u35_text {
    border-width:0px;
    white-space:nowrap;
    text-transform:none;
  }
  #u36_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:40px;
    background:inherit;
    background-color:rgba(23, 191, 149, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(254, 254, 254, 1);
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
  }
  #u36 {
    border-width:0px;
    position:absolute;
    left:803px;
    top:8px;
    width:140px;
    height:40px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
  }
  #u36 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 30px;
    box-sizing:border-box;
    width:100%;
  }
  #u36_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u37 {
    position:absolute;
    left:221px;
    top:129px;
  }
  #u37_state0 {
    position:relative;
    left:0px;
    top:0px;
    width:486px;
    height:56px;
    background-image:none;
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u37_state0_content {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1px;
    height:1px;
  }
  #u38_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:486px;
    height:56px;
    background:inherit;
    background-color:rgba(254, 254, 254, 1);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u38 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:486px;
    height:56px;
    display:flex;
  }
  #u38 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u38_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u39_input {
    position:absolute;
    left:0px;
    top:0px;
    width:472px;
    height:34px;
    padding:2px 2px 2px 2px;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:13px;
    letter-spacing:normal;
    color:#726D6D;
    vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
  }
  #u39_input.disabled {
    position:absolute;
    left:0px;
    top:0px;
    width:472px;
    height:34px;
    padding:2px 2px 2px 2px;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:13px;
    letter-spacing:normal;
    color:#726D6D;
    vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
  }
  #u39_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:472px;
    height:34px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(238, 237, 237, 1);
    border-radius:10px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#726D6D;
  }
  #u39 {
    border-width:0px;
    position:absolute;
    left:7px;
    top:11px;
    width:472px;
    height:34px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#726D6D;
  }
  #u39 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u39_div.disabled {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:472px;
    height:34px;
    background:inherit;
    background-color:rgba(240, 240, 240, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(238, 237, 237, 1);
    border-radius:10px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#726D6D;
  }
  #u39.disabled {
  }
  #u40_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:24px;
  }
  #u40 {
    border-width:0px;
    position:absolute;
    left:444px;
    top:25px;
    width:19px;
    height:24px;
    display:flex;
  }
  #u40 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u40_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u37_state1 {
    position:relative;
    left:0px;
    top:0px;
    width:486px;
    height:56px;
    background-image:none;
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    visibility:hidden;
  }
  #u37_state1_content {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1px;
    height:1px;
  }
  #u41_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:486px;
    height:56px;
    background:inherit;
    background-color:rgba(254, 254, 254, 1);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u41 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:486px;
    height:56px;
    display:flex;
  }
  #u41 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u41_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u42_input {
    position:absolute;
    left:0px;
    top:0px;
    width:353px;
    height:34px;
    padding:2px 2px 2px 2px;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:13px;
    letter-spacing:normal;
    color:#726D6D;
    vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
  }
  #u42_input.disabled {
    position:absolute;
    left:0px;
    top:0px;
    width:353px;
    height:34px;
    padding:2px 2px 2px 2px;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:13px;
    letter-spacing:normal;
    color:#726D6D;
    vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
  }
  #u42_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:353px;
    height:34px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(238, 237, 237, 1);
    border-radius:10px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#726D6D;
  }
  #u42 {
    border-width:0px;
    position:absolute;
    left:7px;
    top:11px;
    width:353px;
    height:34px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#726D6D;
  }
  #u42 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u42_div.disabled {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:353px;
    height:34px;
    background:inherit;
    background-color:rgba(240, 240, 240, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(238, 237, 237, 1);
    border-radius:10px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#726D6D;
  }
  #u42.disabled {
  }
  #u43_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:22px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#CC2119;
  }
  #u43 {
    border-width:0px;
    position:absolute;
    left:416px;
    top:17px;
    width:51px;
    height:22px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#CC2119;
  }
  #u43 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u43_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u44_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:22px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#19CCA1;
  }
  #u44 {
    border-width:0px;
    position:absolute;
    left:360px;
    top:17px;
    width:51px;
    height:22px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    color:#19CCA1;
  }
  #u44 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u44_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u45 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:56px;
    width:486px;
    height:32px;
    visibility:hidden;
  }
  #u45_state0 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:486px;
    height:32px;
    -ms-overflow-x:hidden;
    overflow-x:hidden;
    -ms-overflow-y:hidden;
    overflow-y:hidden;
    background-image:none;
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u45_state0_content {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1px;
    height:1px;
  }
  #u46_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:486px;
    height:32px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(255, 255, 255, 1);
    border-radius:10px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u46 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:486px;
    height:32px;
    display:flex;
  }
  #u46 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u46_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u47_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:74px;
    height:23px;
    background:inherit;
    background-color:rgba(25, 204, 161, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(254, 254, 254, 1);
    border-radius:7px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:11px;
    color:#615F5F;
  }
  #u47 {
    border-width:0px;
    position:absolute;
    left:26px;
    top:5px;
    width:74px;
    height:23px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:11px;
    color:#615F5F;
  }
  #u47 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u47_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u48_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:23px;
    background:inherit;
    background-color:rgba(25, 204, 161, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(253, 248, 248, 1);
    border-radius:7px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:11px;
    color:#615F5F;
  }
  #u48 {
    border-width:0px;
    position:absolute;
    left:137px;
    top:5px;
    width:80px;
    height:23px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:11px;
    color:#615F5F;
  }
  #u48 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u48_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u49_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:69px;
    height:23px;
    background:inherit;
    background-color:rgba(25, 204, 161, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(253, 253, 253, 1);
    border-radius:7px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:11px;
    color:#615F5F;
  }
  #u49 {
    border-width:0px;
    position:absolute;
    left:250px;
    top:5px;
    width:69px;
    height:23px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:11px;
    color:#615F5F;
  }
  #u49 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u49_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u50_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:23px;
  }
  #u50 {
    border-width:0px;
    position:absolute;
    left:329px;
    top:16px;
    width:19px;
    height:23px;
    display:flex;
  }
  #u50 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u50_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u52_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:17px;
  }
  #u52 {
    border-width:0px;
    position:absolute;
    left:920px;
    top:15px;
    width:28px;
    height:17px;
    display:flex;
  }
  #u52 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u52_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u53_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:69px;
    height:23px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:16px;
    color:#19C79B;
  }
  #u53 {
    border-width:0px;
    position:absolute;
    left:838px;
    top:6px;
    width:69px;
    height:23px;
    display:flex;
    font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:16px;
    color:#19C79B;
  }
  #u53 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u53_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }

  #u55 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:790px;
    height:35px;
  }
  #u56_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:35px;
  }
  #u56 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:35px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
  }
  #u56 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u56_img.mouseOver {
  }
  #u56.mouseOver {
  }
  #u56_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u57_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:35px;
  }
  #u57 {
    border-width:0px;
    position:absolute;
    left:263px;
    top:0px;
    width:263px;
    height:35px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
  }
  #u57 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u57_img.mouseOver {
  }
  #u57.mouseOver {
  }
  #u57_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u58_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:264px;
    height:35px;
  }
  #u58 {
    border-width:0px;
    position:absolute;
    left:526px;
    top:0px;
    width:264px;
    height:35px;
    display:flex;
    font-family:'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight:700;
    font-style:normal;
  }
  #u58 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u58_img.mouseOver {
  }
  #u58.mouseOver {
  }
  #u58_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  