<html>
  <body>
<div id="u0" class="ax_default box_1">
    <div id="u0_div" class=""></div>
    <div id="u0_text" class="text " style="display:none; visibility: hidden">
      <p></p>
    </div>
  </div>
<div id="u1" class="ax_default button" style="cursor: pointer;">
    <div id="u1_div" class="" tabindex="0"></div>
    <div id="u1_text" class="text ">
      <p><a routerLink="/home-applicant">Applicant</a></p>
    </div>
  </div>
  <div id="u2" class="ax_default button" style="cursor: pointer;">
    <div id="u2_div" class="" tabindex="0"></div>
    <div id="u2_text" class="text ">
      <p><a routerLink="/dash-board-company">Company</a></p>
    </div>
  </div>
<div id="u3" class="ax_default heading_1">
    <div id="u3_div" class=""></div>
    <div id="u3_text" class="text ">
      <p><span>Welcome to our job portal website</span></p>
    </div>
</div>
<div id="u4" class="ax_default heading_3">
    <div id="u4_div" class=""></div>
    <div id="u4_text" class="text ">
      <p><span>Whether you're a job seeker searching for your next opportunity or a company looking to hire top talent, our platform is here to facilitate seamless connections. With a diverse pool of candidates and a wide range of job openings, we're committed to helping individuals find their perfect fit and companies build their dream teams.</span></p>
    </div>
  </div>
  <div id="u5" class="ax_default heading_3">
    <div id="u5_div" class=""></div>
    <div id="u5_text" class="text ">
      <p><span><br></span></p><p><span>"Ready to get started?Choose 'Join as Applicant' to find your dream job, or 'Join as Company' to discover top talent."</span></p>
    </div>
  </div>
  </body>
  </html>